# MariaDB
MARIADB_ROOT_PASSWORD=change_me_root
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=change_me_db
MOODLE_DB_NAME=moodle

# Moodle Admin
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=change_me_admin
MOODLE_ADMIN_EMAIL=admin@endlessmaker.com
