{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/drawers

    Zenith theme drawers layout — overrides Boost's default drawers.mustache.
    Uses Zenith design tokens and BEM-adjacent styling.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the course index drawer should be open on page load
    * blockdraweropen - true if the block drawer should be open on page load
    * courseindex - HTML for the course index content
    * primarymoremenu - Primary navigation menu data
    * secondarymoremenu - Secondary navigation menu data
    * mobileprimarynav - Mobile primary navigation data
    * usermenu - User menu data
    * langmenu - Language menu data
    * forceblockdraweropen - Force blocks drawer open on first view
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - Whether there is a region main settings menu
    * overflow - Overflow menu data
    * headercontent - Activity header content
    * addblockbutton - Add block button HTML
}}
{{> theme_boost/head }}
{{#googlefonturl}}
<link rel="stylesheet" href="{{googlefonturl}}">
{{/googlefonturl}}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boost/navbar }}

    {{! ===== Left Drawer: Course Index ===== }}
    {{#courseindex}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-courseindex{{/id}}
            {{$drawerheadercontent}}
                {{> theme_boost/courseindexdrawercontrols}}
            {{/drawerheadercontent}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/courseindex}}

    {{! ===== Right Drawer: Block Sidebar ===== }}
    {{#hasblocks}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-blocks{{/id}}
            {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
            {{$drawercontent}}
                <div class="d-print-none">
                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </div>
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
            {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
            {{$drawerstate}}show-drawer-right{{/drawerstate}}
            {{$tooltipplacement}}left{{/tooltipplacement}}
            {{$drawercloseonresize}}1{{/drawercloseonresize}}
            {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/hasblocks}}

    {{! ===== Main Page Content ===== }}
    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
        <div id="topofscroll" class="main-inner">

            {{! ===== Drawer Toggle Buttons ===== }}
            <div class="drawer-toggles d-flex">
                {{#courseindex}}
                    <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                        <button
                            class="btn icon-no-margin"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-courseindex"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{#str}}opendrawerindex, core{{/str}}"
                        >
                            <span class="sr-only">{{#str}}opendrawerindex, core{{/str}}</span>
                            {{#pix}} t/index_drawer, moodle {{/pix}}
                        </button>
                    </div>
                {{/courseindex}}
                {{#hasblocks}}
                    <div class="drawer-toggler drawer-right-toggle ms-auto d-print-none">
                        <button
                            class="btn icon-no-margin"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-blocks"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{#str}}opendrawerblocks, core{{/str}}"
                        >
                            <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
                            <span class="dir-rtl-hide">{{#pix}}t/blocks_drawer, core{{/pix}}</span>
                            <span class="dir-ltr-hide">{{#pix}}t/blocks_drawer_rtl, core{{/pix}}</span>
                        </button>
                    </div>
                {{/hasblocks}}
            </div>

            {{! ===== Page Header ===== }}
            {{{ output.full_header }}}

            {{! ===== Secondary Navigation ===== }}
            {{#secondarymoremenu}}
                <div class="secondary-navigation d-print-none">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}

            {{! ===== Dashboard Widgets ===== }}
            {{#isdashboard}}
                {{> theme_zenith/dashboard/widgets }}
            {{/isdashboard}}

            {{! ===== Page Content ===== }}
            <div id="page-content" class="pb-3 d-print-block">
                <div id="region-main-box">
                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none">
                        <div> {{{ regionmainsettingsmenu }}} </div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                    <div id="region-main">

                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}
                        {{{ output.course_content_header }}}
                        {{#headercontent}}
                            {{> core/activity_header }}
                        {{/headercontent}}
                        {{#overflow}}
                            <div class="container-fluid tertiary-navigation">
                                <div class="navitem">
                                    {{> core/url_select}}
                                </div>
                            </div>
                        {{/overflow}}
                        {{{ output.main_content }}}
                        {{{ output.activity_navigation }}}
                        {{{ output.course_content_footer }}}

                    </div>
                </div>
            </div>
        </div>

        {{! ===== Footer ===== }}
        {{> theme_boost/footer }}
    </div>

    {{{ output.standard_after_main_region_html }}}
</div>

{{#cancustomize}}
    {{> theme_zenith/customizer/panel }}
{{/cancustomize}}

{{#showwizard}}
    {{> theme_zenith/setupwizard/main }}
{{/showwizard}}

{{> theme_zenith/accessibility/panel }}

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer', 'theme_zenith/darkmode'], function(Loader, Drawer, DarkMode) {
    Drawer.init();
    DarkMode.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
{{#isdashboard}}
{{#js}}
require(['core/str', 'theme_zenith/dashboard'], function(Str, Dashboard) {
    Str.get_strings([
        {key: 'dash_no_recent', component: 'theme_zenith'},
        {key: 'dash_no_deadlines', component: 'theme_zenith'},
    ]).then(function(strings) {
        Dashboard.init({strings: {no_recent: strings[0], no_deadlines: strings[1]}});
        return strings;
    }).catch(function() {
        Dashboard.init({strings: {}});
    });
});
{{/js}}
{{/isdashboard}}
{{#js}}
require(['core/str', 'theme_zenith/accessibility'], function(Str, A11y) {
    Str.get_strings([
        {key: 'a11y_title', component: 'theme_zenith'},
        {key: 'a11y_reset', component: 'theme_zenith'},
    ]).then(function(strings) {
        A11y.init({strings: {title: strings[0], reset: strings[1]}});
        return strings;
    }).catch(function() {
        A11y.init({strings: {}});
    });
});
{{/js}}
{{#incourse}}
{{#js}}
require(['core/str', 'theme_zenith/focusmode'], function(Str, FocusMode) {
    Str.get_strings([
        {key: 'focusmode_exit', component: 'theme_zenith'},
        {key: 'focusmode', component: 'theme_zenith'},
        {key: 'focusmode_prev', component: 'theme_zenith'},
        {key: 'focusmode_next', component: 'theme_zenith'},
    ]).then(function(strings) {
        FocusMode.init({strings: {exit: strings[0], focusmode: strings[1], prev: strings[2], next: strings[3]}});
        return strings;
    }).catch(function() {
        FocusMode.init({strings: {}});
    });
});
{{/js}}
{{/incourse}}
{{#showwizard}}
{{#js}}
require(['core/str', 'theme_zenith/setupwizard'], function(Str, Wizard) {
    Str.get_strings([
        {key: 'wizard_get_started', component: 'theme_zenith'},
        {key: 'wizard_next', component: 'theme_zenith'},
        {key: 'wizard_back', component: 'theme_zenith'},
        {key: 'wizard_finish', component: 'theme_zenith'},
        {key: 'wizard_skip', component: 'theme_zenith'},
    ]).then(function(strings) {
        Wizard.init({
            strings: {
                get_started: strings[0],
                next: strings[1],
                back: strings[2],
                finish: strings[3],
                skip: strings[4],
            },
            presets: {{{wizardpresetsjs}}},
        });
        return strings;
    }).catch(function() {
        Wizard.init({strings: {}, presets: {{{wizardpresetsjs}}}});
    });
});
{{/js}}
{{/showwizard}}
{{#cancustomize}}
{{#js}}
require(['core/str', 'theme_zenith/customizer/main'], function(Str, Customizer) {
    // Pre-load strings needed by JS into M.str cache.
    Str.get_strings([
        {key: 'customizer_save', component: 'theme_zenith'},
        {key: 'customizer_saved', component: 'theme_zenith'},
        {key: 'customizer_reset_confirm', component: 'theme_zenith'},
        {key: 'customizer_reset_done', component: 'theme_zenith'},
    ]).then(function(strings) {
        if (!M.str.theme_zenith) { M.str.theme_zenith = {}; }
        M.str.theme_zenith.customizer_save = strings[0];
        M.str.theme_zenith.customizer_saved = strings[1];
        M.str.theme_zenith.customizer_reset_confirm = strings[2];
        M.str.theme_zenith.customizer_reset_done = strings[3];
        Customizer.init({settings: {{{customizersettingsjs}}}});
        return strings;
    }).catch(function() {
        Customizer.init({settings: {{{customizersettingsjs}}}});
    });
});
{{/js}}
{{/cancustomize}}
